/* global styels */
html {
    overflow-y: scroll;
}

.highlight-blue {
    background-color: #ddeeff;
}
.highlight-purple {
    background-color: #e2ccf3;
}

/* header */
.header {
    background-color: #f0f0f0;
    padding-bottom: 5px;
}
.header button,
.header .form-group {
    margin-bottom: 5px;
}

/* lead text */
.jobcat-lead {
    padding: 30px 0 0;
}
.jobcat-lead .lead {
    font-size: 36px;
}

/* signup boxes */
.jobcat-signup .col-md-6 {
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.jobcat-signup .lead {
    margin-top: 10px;
    padding-top: 10px;
}

/* jobs lists on homepage */
.homepage-jobs {
    border-top: 1px solid #ddd;
    margin-bottom: 20px;
    padding-top: 10px;
}
.job {
    padding: 8px 40px;
}
.wildcat-job:hover {
    background-color: #e2ccf3;
}
.evanston-job:hover {
    background-color: #ddeeff;
}
.job p,
.job .lead {
    margin-bottom: 0;
}
.job .lead {
    font-size: 19px;
}

/* footer */
.footer {
    padding-top: 10px;
    background-color: #f0f0f0;
}
.footer-link {
    padding-right: 6px;
}
.footer-link + .footer-link {
    padding-left: 8px;
    border-left: 1px solid #aaa;
}
