/* global styels */
html {
    overflow-y: scroll;
}
body {
    font-family: 'Source Sans Pro' !important;
    background-color: #555;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Slab';
}

.highlight-blue {
    background-color: #9dc7f0;
}
.highlight-purple {
    background-color: #eee9ff;
}

/* header */
.header {
    background-color: #9dc7f0;
    padding-bottom: 5px;
}
.header button,
.header .form-group {
    margin-bottom: 5px;
}

/* lead text */
.jobcat-lead {
    padding: 30px 0 0;
    background-color: white;
}
.jobcat-lead h1 {
    margin-bottom: 30px;
}

/* signup boxes */
.jobcat-signup {
    background-color: white;
}
.jobcat-signup .col-md-6 {
    padding-bottom: 10px;
    padding-bottom: 20px;
}
.jobcat-signup .lead {
    margin-top: 10px;
    padding-top: 10px;
}

/* jobs lists on homepage */
.homepage-jobs {
    padding-bottom: 20px;
    padding-top: 10px;
    background-color: #f3f3f3;
}
.job {
    padding: 8px 40px;
}
.wildcat-job:hover {
    background-color: #eee9ff;
}
.evanston-job:hover {
    background-color: #9dc7f0;
}
.job p,
.job .lead {
    margin-bottom: 0;
}
.job .lead {
    font-size: 19px;
}

/* footer */
.footer {
    padding-top: 10px;
    background-color: #d3d3d3;
}
.footer-link {
    padding-right: 6px;
}
.footer-link + .footer-link {
    padding-left: 8px;
    border-left: 1px solid #aaa;
}
