/* global styles */
html {
    overflow-y: scroll;
}
body {
    font-family: 'Source Sans Pro' !important;
    background-color: #555;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Droid Sans';
}

.whitebg {
    background-color: white;
}

/* header */
.header {
    background-color: #9dc7f0;
    padding-bottom: 5px;
}
.header button,
.header .form-group {
    margin-bottom: 5px;
}

/* footer */
.footer {
    padding-top: 10px;
    background-color: #d3d3d3;
}
.footer-link {
    padding-right: 6px;
}
.footer-link + .footer-link {
    padding-left: 8px;
    border-left: 1px solid #aaa;
}
