.highlight-blue {
    background-color: #c8e4ff;
}
.highlight-purple {
    background-color: #e6dfff;
}

/* lead text */
.jobcat-lead {
    padding: 30px 0 0;
    background-color: white;
}
.jobcat-lead h1 {
    margin-bottom: 30px;
}

/* signup boxes */
.jobcat-signup {
    background-color: white;
}
.jobcat-signup .col-md-6 {
    padding-bottom: 10px;
    padding-bottom: 20px;
}
.jobcat-signup .lead {
    margin-top: 10px;
    padding-top: 10px;
}

/* jobs lists on homepage */
.homepage-jobs {
    padding-bottom: 20px;
    padding-top: 10px;
    background-color: #f3f3f3;
}
.job {
    padding: 8px 40px;
}
.wildcat-job:hover {
    background-color: #ece6ff;
}
.evanston-job:hover {
    background-color: #c8e4ff;
}
.job p,
.job .lead {
    margin-bottom: 0;
}
.job .lead {
    font-size: 19px;
}

