{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="pull-right"><a href="#">Log In</a></div>
      <h1>JobCat</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center">
      <p class="lead">JobCat connects busy Evanston residents
    with Northwestern students who want to help.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 text-center">
      <p>It's easy to list your services or find a job. Make an account in seconds with your NetID.</p>
      <button type="button" class="btn btn-default btn-lg">I'm a student</button>
    </div>
    <div class="col-md-6 text-center">
      <p>Want to post a job or hire a Wildcat? Sign up for free.</p>
      <button type="button" class="btn btn-default btn-lg">I'm an Evanston resident</button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h3 class="text-center">Latest Wildcat Services</h3>
      <div class="job-list">
        <div class="job">
          <h4>Dog-sitting, Cat-sitting, House-sitting</h4>
          <p><strong>$10</strong>/hour <span class="text-muted">Animal Care</span></p>
        </div>
        <div class="job">
          <h4>Flexible with any kind of service needed that is on the Northwestern University campus.</h4>
          <p><strong>$10</strong>/hour <span class="text-muted">Business &amp; Clerical</span></p>
        </div>
        <div class="job">
          <h4>Tutoring</h4>
          <p><strong>$50</strong>/hour <span class="text-muted">Education</span></p>
        </div>
        <div class="job">
          <h4>Babysitting - WITH A CAR!!! (Beginning Sept 23)</h4>
          <p><strong>$13</strong>/hour <span class="text-muted">Childcare</span></p>
        </div>
        <div class="job">
          <h4>Babysitting</h4>
          <p><strong>$13</strong>/hour <span class="text-muted">Childcare</span></p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h3 class="text-center">New Jobs in Evanston</h3>
      <div class="job-list">
        <div class="job">
          <h4>Morning (8-9) and afternoon (3:30-5) sitter needed for a great kid!</h4>
          <p><strong>$15</strong>/hour <span class="text-muted">Childcare</span></p>
        </div>
        <div class="job">
          <h4>Evening/Weekend Babysitter for 2 Children in Winnetka</h4>
          <p><strong>$10</strong>/hour <span class="text-muted">Childcare</span></p>
        </div>
        <div class="job">
          <h4>Sitter starting sept 8</h4>
          <p><strong>$15</strong>/hour <span class="text-muted">Childcare</span></p>
        </div>
        <div class="job">
          <h4>Nanny needed 5 days a week for a local teacher</h4>
          <p><strong>$15</strong>/hour <span class="text-muted">Childcare</span></p>
        </div>
        <div class="job">
          <h4>Babysitter</h4>
          <p><strong>$15</strong>/hour <span class="text-muted">Childcare</span></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-med-12 text-center">
      <p>JobCat is a service of Northwestern's Associated Student Government. Terms of Service | Contact Us</p>
    </div>
  </div>

</div>
{% endblock content %}
