{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/landing.css' %}">
<div class="container" ng-controller="Home">
  <div class="row header">
    <div class="col-md-12">
      <div class="pull-right" style="margin-top: 20px;">
        <form class="form-inline" role="form">
          <div class="form-group">
            <label class="sr-only" for="loginEmail">NetID or Email</label>
            <input type="text" class="form-control" id="loginEmail" placeholder="NetID or Email">
          </div>
          <div class="form-group">
            <label class="sr-only" for="loginPassword">Password</label>
            <input type="password" class="form-control" id="loginPassword" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-default">Sign in</button>
        </form>
      </div>
      <img src="{% static 'jobcat_logo.png' %}" alt="" height="60" style="margin: 10px 0 10px;">
    </div>
  </div>

  <div class="row jobcat-lead">
    <div class="col-md-12 text-center">
      <h1>JobCat connects busy Evanston residents
      with Northwestern students who want to help.</h1>
    </div>
  </div>

  <div class="row jobcat-signup">
    <div class="col-md-6" ng-class="{'highlight-purple': studentSignup}">
      <div class="text-center">
        <p class="lead">It's easy to list your services or find a job.<br>Make an account in seconds with your NetID.</p>
        <button type="button" class="btn btn-default btn-lg" ng-click="studentSignup = !studentSignup; residentSignup = false" ng-hide="studentSignup">I'm a student</button>
      </div>
      <form class="form-horizontal" role="form" ng-show="studentSignup">
        <div class="form-group">
          <label for="wcName" class="col-sm-2 control-label">Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="wcName" placeholder="Willie Wildcat">
          </div>
        </div>
        <div class="form-group">
          <label for="wcNetID" class="col-sm-2 control-label">NetID</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="wcNetID" placeholder="NetID">
          </div>
        </div>
        <div class="form-group">
          <label for="wcPassword" class="col-sm-2 control-label">Password</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="wcPassword" placeholder="Password">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
              <label>
                <input type="checkbox" checked> I agree to the Terms of Service
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Create Account</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-6" ng-class="{'highlight-blue': residentSignup}">
      <div class="text-center">
        <p class="lead">Want to post a job or hire a Wildcat?<br>Sign up for free.</p>
        <button type="button" class="btn btn-default btn-lg" ng-click="residentSignup = !residentSignup; studentSignup = false" ng-hide="residentSignup">I'm an Evanston resident</button>
      </div>
      <form class="form-horizontal" role="form" ng-show="residentSignup">
        <div class="form-group">
          <label for="wcName" class="col-sm-2 control-label">Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="wcName" placeholder="Martha Evans">
          </div>
        </div>
        <div class="form-group">
          <label for="residentEmail" class="col-sm-2 control-label">Email</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="residentEmail" placeholder="Email">
          </div>
        </div>
        <div class="form-group">
          <label for="residentPassword" class="col-sm-2 control-label">Password</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="residentPassword" placeholder="Password">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
              <label>
                <input type="checkbox" checked> I agree to the Terms of Service
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Create Account</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row homepage-jobs">
    <div class="col-md-6">
      <h3 class="text-center">Latest Wildcat Services</h3>
      <div class="job-list">
        <div class="job wildcat-job">
          <p class="lead">Dog-sitting, Cat-sitting, House-sitting</p>
          <p><strong>$10</strong>/hour <span class="text-muted">Animal Care, Aug 23</span></p>
        </div>
        <div class="job wildcat-job">
          <p class="lead">Flexible with any kind of service needed that is on the Northwestern University campus.</p>
          <p><strong>$10</strong>/hour <span class="text-muted">Business &amp; Clerical, Aug 22</span></p>
        </div>
        <div class="job wildcat-job">
          <p class="lead">Tutoring</p>
          <p><strong>$50</strong>/hour <span class="text-muted">Education, Aug 21</span></p>
        </div>
        <div class="job wildcat-job">
          <p class="lead">Babysitting - WITH A CAR!!! (Beginning Sept 23)</p>
          <p><strong>$13</strong>/hour <span class="text-muted">Childcare, Aug 19</span></p>
        </div>
        <div class="job wildcat-job">
          <p class="lead">Babysitting</p>
          <p><strong>$13</strong>/hour <span class="text-muted">Childcare, Aug 16</span></p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h3 class="text-center">New Jobs in Evanston</h3>
      <div class="job-list">
        <div class="job evanston-job">
          <p class="lead">Morning (8-9) and afternoon (3:30-5) sitter needed for a great kid!</p>
          <p><strong>$15</strong>/hour <span class="text-muted">Childcare, Aug 23</span></p>
        </div>
        <div class="job evanston-job">
          <p class="lead">Evening/Weekend Babysitter for 2 Children in Winnetka</p>
          <p><strong>$10</strong>/hour <span class="text-muted">Childcare, Aug 22</span></p>
        </div>
        <div class="job evanston-job">
          <p class="lead">Sitter starting sept 8</p>
          <p><strong>$15</strong>/hour <span class="text-muted">Childcare, Aug 22</span></p>
        </div>
        <div class="job evanston-job">
          <p class="lead">Nanny needed 5 days a week for a local teacher</p>
          <p><strong>$15</strong>/hour <span class="text-muted">Childcare, Aug 21</span></p>
        </div>
        <div class="job evanston-job">
          <p class="lead">Babysitter</p>
          <p><strong>$15</strong>/hour <span class="text-muted">Childcare, Aug 21</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{% static 'js/home.js' %}"></script>
{% endblock content %}
